<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <th:block sec:authorize="hasRole('ROLE_ANONYMOUS')">
            <li>
                <a href="/register"><i class="fa fa-angle-double-right"></i> Register</a>
            </li>
            <li>
                <a href="/login"><i class="fa fa-angle-double-right"></i> Login</a>
            </li>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_USER')">
            <li>
                <a href="/algorithm/add"><i class="fa fa-angle-double-right"></i> Add </a>
            </li>
            <li>
                <a href="/experiment"><i class="fa fa-angle-double-right"></i> List Experiments</a>
            </li>
            <li th:each="algorithm : ${algorithmNames}">
                <a th:href="'/algorithm/'+${algorithm}+'?graph=interactions'">
                    <i class="fa fa-angle-double-right"></i>
                    <span th:text="${algorithm}"></span>
                </a>
            </li>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <li>
                <a href="/about"><i class="fa fa-angle-double-right"></i> About </a>
            </li>
        </th:block>
    </ul>

    <script th:src="@{/js/ga.js}"></script>
    <script th:src="@{/js/ga-code.js}"></script>
    <th:block th:if="${user}">
        <script th:inline="javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            var userId = /*[[${user.id}]]*/ '-1';
            console.log(window.ga_code);
            ga('create', window.ga_code, 'netcs.info');
            sendUserId(ga, userId);
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
    </th:block>

</div>
<div th:fragment="search">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
    </form>
    <!-- /.search form -->
</div>
<div th:fragment="user-panel">
    <div class="user-panel">
        <div class="col-md-12 image text-center">
            <img src="../img/avatar3.png" class="img-circle" alt="User Image"/>
        </div>
        <div class="col-md-12 info text-center">
            <p id="user-email"></p>

            <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
        </div>
        <div class="col-md-12 info text-center">
            <form action="/logout">
                <input class="btn" type="submit" value="logout"/>
            </form>
        </div>
    </div>
</div>
</html>